@font-face {
  font-family: 'artifika', serif;
  src: url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'artifika';
}

.container {
  height: 800px;
  width: 100vw;
}

header {
  background-image: url(images/PatternBlue.png);
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 296px;
  height: 64px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  font-size: 32px;
  font-weight: bolder;
  color: #FEB8FF;
  -webkit-text-stroke: 0.6px black;
  text-shadow: 1px 1px 2px black;
}

.imagem {
  position: absolute;
  top: 128px;
}

.imagem img {
  width: 300px ;
  height: 300px;
  border-radius: 200px;
  box-shadow: 2px 2px 5px;
}

main {
  background-image: url(images/PatternPink.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 920px;
}

.text {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 30px;
  width: 350px;
  height: fit-content;
  margin-top: 16px;
  letter-spacing: 5%;
  font-weight: 500;
}

p {
  text-align: start;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: end;
  margin-top: 16px;
  gap: 20px;
}

.saiba-mais {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 320px;
  height: 64px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.saiba-mais:hover {
  transform: translateY(-0.25em);
  box-shadow: 0px 5px rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.linkBotao {
  margin-top: 204px;
}

.doar {
  background-image: url(images/PatternBlue.png);
  width: 350px;
  height: 64px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid;
  border-radius: 10px;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.doar:hover {
  transition: all 0.3s ease;
  transform: translateY(-0.25em);
  box-shadow: 0px 5px rgb(0, 0, 0);
}

.doar:focus {

}

.share {
  width: 300px;
  margin-top: 32px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.head {
  margin: 24px 0 0 0;
  font-size: 32px;
  text-align: center;
}

.field {
  display: flex;
  gap: 72px;
  padding: 24px;
  justify-content: space-around;
}

.shareButton {
  width: 64px;
  height: 64px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: url(images/PatternBlue.png);
}

.shareButton:hover {
  transition: all 0.3s ease;
  transform: translateY(-0.25em);
  box-shadow: 0px 5px rgb(0, 0, 0);
}

.shareButtonImage {
  width: 40px;
}

#pix {
  border: none;
  background-color: transparent;
  font-size: 24px;
  text-align: center;
  color: #1a5c2c;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 90%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
